{% extends 'basePage.html' %}


{% block links_base %}
<script src="http://127.0.0.1:8000/public/js/redirectMenu.js" type="text/javascript"></script>
<link href="http://127.0.0.1:8000/public/css/navMenu.css" rel="stylesheet">
{% block links %}
{% endblock links %}
{% endblock links_base %}


{% block main_base %}
<header>

    <div class="flex-center">
        <div>
            <h1>Armor Reaper</h1>
        </div>
        <div class="log-box align-right">
            
            {% if request.session.get('user') %}
                <p>Hi {{ request.session.get('user').pseudo }} !</p>
                <p>
                    <a href="{{ url_for('logout') }}">disconnect</a>
                </p>
            {% else %}
                <p>
                    <a href="{{ url_for('login') }}">login</a>
                </p>
                <p>
                    <a href="{{ url_for('createUser') }}">create acount</a>
                </p>
            {% endif%}

        </div>
    </div>

    {% if request.session.get('user') %}
    <p>hello {{ request.session.get('user').pseudo }}</p>
    {% endif %}
    
    <nav>

        <a href="{{ request.base_url }}">accueil</a>
        
        

    </nav>

</header>
<section>

    {% block errors %}
    {% endblock errors %}

    {% block main %}
    {% endblock main %}

</section>
<footer>

</footer>
{% endblock main_base %}