{% extends 'baseError.html' %}


{% block links %}
<script src="{{ url_for('public', path='js/battle.js') }}" type="text/javascript"></script>
<link href="{{ url_for('public', path='css/battle.css') }}" rel="stylesheet" >
{% endblock links %}


{% block main %}

<script>
    const battleLog = {{ battle_logs | tojson }};
    const leftTeam = {{ left_team | tojson }};
    const rightTeam = {{ right_team | tojson }};
</script>

<h2>Battle</h2>

<section id="battle-anime">
    <div id="battle-sreen"></div>
    <div id="battle-log"></div>
</section>

{% endblock main %}
