{% extends 'baseError.html' %}


{% block links %}
{% endblock links %}


{% block main %}

<h2>Create Adventurer</h2>

<form action="" method="post">

    <labbel for="pseudo">pseudo : </labbel>
    <input type="input" name="pseudo" id="pseudo" value="{{ request.session.get('dto_form', {}).get('pseudo', '') }}"/>
    {% set pseudo_error = request.session.get('errors').get('pseudo') %}
    {% if pseudo_error %}
        <span style="color: red;">{{ pseudo_error }}</span>
    {% endif %}

    <label for="tree_skill">tree skill</label>
    <select name="tree_skill" id="tree_skill">
        <option value="1">Mercenary</option>
        <option value="2">Mage</option>
        <option value="3">Meka</option>
    </select>
    {% set tree_skill_error = request.session.get('errors').get('tree_skill') %}
    {% if tree_skill_error %}
        <span style="color: red;">{{ tree_skill_error }}</span>
    {% endif %}

    <input type="submit" value="create"/>

</form>

{% endblock main %}
