<!DOCTYPE html>
<html>
    <head>
        <title>Armor Reaper</title>
    </head>
    <body>

        <h1>Armor Reaper</h1>
        <h2>Create Acount</h2>

        <form >

            <labbel>e-mail : </labbel>
            <input type="input" name="e_mail" id="e_mail"/>

            <br/>

            <labbel>password : </labbel>
            <input type="password" name="password" id="password"/>

            <br/>

            <input type="submit" value="create"/>

        </form>

    </body>
</html>
