{% extends 'baseError.html' %}


{% block links %}
{% endblock links %}


{% block main %}

<h2>Create Acount</h2>

<form action="" method="post">

    <labbel for="e_mail">e-mail : </labbel>
    <input type="input" name="e_mail" id="e_mail"/>

    <br/>

    <labbel for="password">password : </labbel>
    <input type="password" name="password" id="password"/>

    <br/>

    <labbel for="pseudo">pseudo : </labbel>
    <input type="input" name="pseudo" id="pseudo"/>

    <br/>

    <input type="submit" value="create"/>

</form>

{% endblock main %}
