<!DOCTYPE html>
<html>
    <head>
        <title>Armor Reaper</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="{{ url_for('public', path='img/items/woodenSword.png') }}">
    </head>
    <body>

        <h1>Armor Reaper</h1>

        <p>{{ request.session }}</p>

        {% if request.session.get('user') %}
        <p>hello {{ request.session.get('user').pseudo }}</p>
        {% endif %}

        {% for error in request.session.get('errors') or [] %}
            <p style="color: red;">{{ error }}</p>
        {% endfor%}

        <h2>Main page</h2>

        <a href="{{ url_for('login') }}">login</a>
        <br/>
        <a href="{{ url_for('createUser') }}">create acount</a>

    </body>
</html>
