{% extends 'baseError.html' %}


{% block links %}
{% endblock links %}


{% block main %}

<h2>Adventurers</h2>

{% for adventurer in adventurers %}
    <p>{{ adventurer.pseudo }} - (Adventurer)
        <a href="{{ url_for('detailsAdventurer', adventurer_id=adventurer.id) }}" >details</a>
        <a href="{{ url_for('deleteAdventurer', adventurer_id=adventurer.id) }}" style="color: red;">delete</a>
    </p>
{% else %}
    <p>no adventurers.</p>
{% endfor %}

<!-- form battle -->
<!-- TODO: link to endpoit, maje fit package DTO (js?), test it -->
<!-- test -->
<form action="" method="post">

    {% for adventurer in adventurers %}
        <label for="adv-name-{{ adventurer.name }}">{{ adventurer.name }}</label>
        <input type="radio" id="adv-name-{{ adventurer.name }}" name="adventurers_id" value="{{ adventurer.id }}"/>
    {% endfor %}

    {% for mob_id in adventurers %}
        <label for="adv-name-{{ adventurer.name }}">{{ adventurer.name }}</label>
        <input type="radio" id="adv-name-{{ adventurer.name }}" name="adventurers_id" value="{{ adventurer.id }}"/>
    {% endfor %}

    <input type="submit" value="start battle"/>

</form>

{% endblock main %}