
body {
    margin: 0;
}

/* --- */

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}

/* --- */

.log-box {
    width: 200px;
}