
.jauge{
    width: 100px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.137);
}
.jauge > div{
    height: 6px;
    border-radius: 3px;
}

.jauge-bordered{
    border: 1px solid #c7c7c7;
}